@import '../../App/variable.scss';
.header {
  background-color: var(--background-header);
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  position: fixed;
  transition: all linear 0.3s;
  z-index: 9999999;

  & .takegif {
    width: 350px;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 120px;
    z-index: -1;
  }
  & .logo {
    height: 110px;
    width: 110px;
    margin-left: 85px;

    border-radius: 100rem;
    transition: all linear 0.3s;
    & img {
      border-radius: 100rem;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  & .nav-header {
    flex: 1;
    width: 100%;
    height: 100%;
    & .list-nav {
      width: 100%;
      height: 70%;
      display: flex;
      gap: 0 50px;
      justify-content: center;
      align-items: flex-end;

      font-size: 1rem;
      font-weight: 40 0;

      & .router-nav {
        & a {
          text-decoration: none;
          color: rgb(31, 31, 31);
          &:hover {
            color: var(--color-hover);
          }
          &.active p {
            border-bottom: 2px solid var(--color-hover);
            color: var(--color-hover);
          }
        }
      }
    }
  }
  &.scrooll {
    transition: all linear 0.3s;
    & .logo {
      height: 100px;
      width: 100px;
      margin-left: 85px;
    }
    background-color: rgba(253, 252, 252, 0.877);
    & .nav-header {
      & .list-nav {
        transition: all linear 0.3s;
        color: #000;
        & .router-nav {
          & a {
            text-decoration: none;
            color: rgb(39, 39, 39);
            &:hover {
              color: var(--color-hover);
            }
            &.active p {
              border-bottom: 2px solid var(--color-hover);
              color: var(--color-hover);
            }
          }
        }
      }
    }
  }
}
